.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-xl);
  padding: var(--spacing-sm) var(--spacing-xs);
}

.light {
  color: var(--color-extra-white);
}

.cardImage {
  align-self: center;
}
