$spacers: (
  0: var(--spacing-none),
  1: var(--spacing-xs),
  2: var(--spacing-sm),
  3: var(--spacing-md),
  4: var(--spacing-lg),
  5: var(--spacing-xl),
);

$font-family-sans-serif: var(--font-family);
$font-weight-normal: var(--font-weight-regular);
$font-weight-bold: var(--font-weight-bold);
$line-height-base: 1.2;

@import "bootstrap/scss/bootstrap";
